.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

a {
  font-weight: bolder;
  color: white;
}

.Search-Bar {
  margin: 20px;
}

.Movie-Lists {
  background-color: white;
  display: flex;
  flex-direction: row;
  color: #282c34;
  justify-content: space-between;
  padding: 25px;
}

.results {
  background-color: whitesmoke;
  flex: 1 0;
  text-align: left;
  padding: 25px;
}

.nominees {
  background-color: whitesmoke;
  flex: 1 0;
  text-align: right;
  padding: 25px;
}

button {
  margin: 10px
}

input {
  width: 50%;
  height: 30px;
  border-radius: 3px;
}
